@media only screen and (max-width: 992px) {
    #game-desktop {
        display: none;
    }
    #download {
        background-image: url('./src/backgrounds/game-page.jpg') !important;
    }

    .header-navbar {
        margin-left: 30px;
        margin-right: 30px;
    }

    #title h1 {
        font-size: 56pt;
    }
    
    #title p {
        font-size: 14pt;
    }

    .game-container h5 {
        font-size: 24pt;
    }

    .game-container p {
        font-size: 14pt;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand img {
        width: 48px;
    }
    
    #game-mobile {
        margin-left: 20px;
        margin-right: 20px;
    }

    #title {
        margin-top: 50px;
    }

    #title h1 {
        font-size: 26pt;
    }
    
    #title p {
        font-size: 10pt;
    }

    .game-container h5 {
        font-size: 14pt;
    }
    
    .game-container p {
        font-size: 9pt;
    }


    
}

@media only screen and (max-width:400px){
    #download {
        background-image: url('./src/backgrounds/mobile-game-page.jpg') !important;
    }
    #game_title{
        font-size: 32px;
    }
    #team_name{
        font-size: 16px;
    }
    .button-choose{
        width:123px;
        height:auto;
    }

    .about_how{
        font-size: 24px;
        margin-bottom:12px;
    }

    .game_desc{
        font-size:14px;
    }

    .member_name{
        font-size: 16px;
    }

    .member_job{
        font-size: 14px;
    }
    .profile {
        width: 73px;
        height: 73px;
        border: 3px solid #0A194F;
    }
    .navbutton{
        width:44px;
        height:auto;
    }

    #game-content{
        margin-top: 10px;
    }
}
@media only screen and (min-width: 400px){
    #game_title{
        font-size: 35px;
    }
    #team_name{
        font-size: 16px;
    }
    .button-choose{
        width:147px;
        height:auto;
    }

    .about_how{
        font-size: 29px;
        margin-bottom:12px;
    }

    .game_desc{
        font-size:14px;
    }

    .member_name{
        font-size: 15px;
    }

    .member_job{
        font-size: 14px;
    }
    .profile {
        width: 73px;
        height: 73px;
        border: 3px solid #0A194F;
    }
    .navbutton{
        width:67px;
        height:auto;
    }
    #game-ss{
        margin-top: 20px;
    }
    #game-content{
        margin-top: 15px;
    }
}
@media only screen and (min-width:450px){
    #game-ss{
        margin-top:40px;
    }
}

@media only screen and (min-width: 480px){
    #game-ss{
        margin-top: 40px;
    }
    #game-content{
        margin-top: 23px;
    }
}
@media only screen and (min-width: 530px){
    #game-ss{
        margin-top: 50px;
    }
    #game-content{
        margin-top: 28px;
    }
}

@media only screen and (min-width: 576px){
    #game-ss{
        margin-top: 70px;
        margin-bottom: 30px;
    }
    #game-content{
        margin-top: 40px;
    }
}

@media only screen and (min-width: 595px){
    #game-ss{
        margin-top: 85px;
    }
    #game-content{
        margin-top: 50px;
    }
}

@media only screen and (min-width: 625px){
    #game-ss{
        margin-top:110px;
    }
    #game-content{
        margin-top: 60px;
    }
}

@media only screen and (min-width: 650px){
    #game-ss{
        margin-top:130px;
    }
    #game-content{
        margin-top: 60px;
    }
}

@media only screen and (min-width: 690px){
    #game-ss{
        margin-top:150px;
    }
    #game-content{
        margin-top: 60px;
    }
}

@media only screen and (min-width: 720px){
    #game-ss{
        margin-top:180px;
    }
    #game-content{
        margin-top: 80px;
    }
}

@media only screen and (max-width: 768px) {
    #download {
        background-image: url('./src/backgrounds/mobile-game-page.jpg') !important;
    }
    #msg h1 {
        font-size: 14pt !important;
    }

    #modal-content img {
        width: 130px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-brand img {
        width: 64px;
    }
    #download {
        background-image: url('./src/backgrounds/game-page.jpg') !important;
    }
    #game-desktop {
        margin-left: 210px;
        margin-right: 210px;
    }
    .game-cover{
        width: 65% !important;
        height:auto !important;
    }
    #title {
        margin-top: 100px;
    }

    #game_title{
        font-size: 42px;
    }
    #team_name{
        font-size: 18px;
    }

    #modal-content img {
        width: 300px;
    }

    .button-choose{
        width:170px;
        height:auto;
    }

    .about_how{
        font-size: 34px;
        margin-bottom:12px;
    }

    .game_desc{
        font-size:14px;
    }

    .member_name{
        font-size: 16px;
    }

    .member_job{
        font-size: 14px;
    }
    .profile {
        width: 77px;
        height: 77px;
        border: 3px solid #0A194F;
    }
    .navbutton{
        width:90px;
        height:auto;
    }
    #game-ss{
        margin-top:10px;
    }
    #game-content{
        margin-top: 60px;
    }
}
@media only screen and (min-width: 850px){
    .game-cover{
        width: 70% !important;
    }
}

@media only screen and (min-width: 920px) {
    #game-content{
        margin-top: 90px;
    }
}

@media only screen and (min-width: 992px) {
    #download {
        background-image: url('./src/backgrounds/game-page.jpg') !important;
    }

    #game-mobile {
        display: none;
    }
 
    .header-navbar {
        margin-left: 200px;
        margin-right: 200px;
    }

    #title h1 {
        font-size: 48pt;
    }
    
    #title p {
        font-size: 12pt;
    }

    .button-choose {
        width: 196px;
    }

    #game_title{
        font-size: 48px;
    }
    #team_name{
        font-size: 20px;
    }
    .button-choose{
        width:196px;
        height:auto;
    }

    .about_how{
        font-size: 40px;
        margin-bottom:12px;
    }

    .game_desc{
        font-size:14px;
    }

    .member_name{
        font-size: 20px;
    }

    .member_job{
        font-size: 14px;
    }
    .profile {
        width: 81px;
        height: 81px;
        border: 3px solid #0A194F;
    }
    .navbutton{
        width:113px;
        height:auto;
    }
}
@media screen and (min-width:1200px){
    .game-cover{
        width:75%!important;
    }
}

@media screen and (min-width:1350px){
    #game-content{
        margin-top: 100px;
    }
}

@media screen and (min-width:1450px){
    #game-content{
        margin-top: 150px;
    }
}
@media screen and (min-width:1550px){
    #game-content{
        margin-top: 200px;
    }
}
@media screen and (min-width:1650px){
    #game-content{
        margin-top: 250px;
    }
}
@media screen and (min-width:1750px){
    #game-content{
        margin-top: 300px;
    }
}
#download{
    background-repeat: no-repeat !important;
    background-size: 100%;
}
#game-desktop {
    margin-top: 120px;
}

.game-cover{
    width:75%;
    height:auto;
}

#game-mobile {
    margin-top: 80px;
}

.game-container {
    width: auto;
}

.navbar-nav {
    margin-left: auto;
}

.image-container img {
    transition: transform .3s;
}

.image-container img:hover {
    transform: scale(1.05);
}

.btn-page {
    padding: 8px 16px !important;
    font-size: 18pt;
}

.btn-arrow {
    padding: 4px 13px !important;
}

.btn-arrow b {
    font-size: 16pt;
}

.footer-info p {
    font-size: 10pt;
}


/* MODAL */

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 800%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
  
/* Modal Content */
#modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
}

#modal-content h1 {
    text-align: center;
    margin-bottom: 20px;
}
 
.close {
    align-self: flex-end;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* CSS PAGE DOWNLOAD */

.button-game {
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-size: 30px;
}

.box-game {
    width: 600px;
    height: 350px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
}